<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Freaks</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <img src="img/logo.png" alt="movie_freaks_logo" width="300" />
      <form action="/" method="POST">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="start typing..."
        />
        <button type="submit">Search</button>
      </form>
    </div>
    <script src="js/home.js"></script>
  </body>
</html>
